<div class="body-container">
  <h1><%= @user.first_name %>'s Profile</h1>

  <div class="location-list">
    <h2>Saved locations</h2>

    <% if @user.saved_locations.length > 0 %>
      <% @user.saved_locations.each do |saved_location| %>

      <div class="location">
        <p>
          <a href="/locations/<%= saved_location.id %>"><%= saved_location.name %></a>
          <ul>
            <li>Latitude: <%= saved_location.location.latitude %></li>
            <li>Longitude: <%= saved_location.location.longitude %></li>
          </ul>
        </p>
        <form method="post" action="/locations/<%= saved_location.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete" class="button">
        </form>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="add-location">
    <a href=""><h2>Add a location</h2></a>
    <div class="hidden">
      <%= erb :'/users/_add_location', layout: false %>
    </div>
  </div>
</div>
